@media print, screen{
    table {border-collapse:collapse; border: none;}
    body{
    	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    	font-size: 11px;
        margin: 0 auto;
        width:650px;
    }
    .header{
        margin-left: 80px;
    }
    .header-image{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
    }
    .img-padding-left{
        margin-left: -70px;
    }
    .header-title{
        text-align: center;
        background: red;
        -webkit-border-top-left-radius: 50px;
        -webkit-border-top-right-radius: 50px;
        -moz-border-radius-topleft: 50px;
        -moz-border-radius-topright: 50px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
    }
    .header-data{
        background: white;
        padding: 5px;
    }
    .header-data-label{
        display: inline-block;
        width: 50px;
    }
    .padding-left{
        padding-left: 40px;
    }
    .checklist{
        background-color: #d3d3d3;
    }
    .radio-success{
        margin: 0 5px;
        border:2px solid green;
    }
    .radio-warning{
        margin: 0 5px;
        border:2px solid orange;
    }
    .radio-danger{
        margin: 0 5px;
        border:2px solid red;
    }
    .radio-info{
        margin: 0 5px;
        border:2px solid black;
    }
    input[type='radio'] {
        margin: 0;
        margin-bottom: 0px;
        padding: 0;
        -webkit-appearance:none;
        width:12px;
        height:12px;
        border-radius:50%;
        outline:none;
    }
    input[type='radio']:hover {
        box-shadow:0 0 5px 0px black inset;
    }
    input[type='radio']:before {
        content:'';
        display:block;
        position: relative;
        top: 2px;
        left: 2px;
        width: 4px;
        height: 4px;
        border-radius:50%;
    }
    input[type='radio']:checked:before {
        background:black;
    }
    /*input[type='radio'] {

        -webkit-appearance:none;

        width:13px;
        height:13px;
        border-radius:50%;
        border:2px solid red;
        outline:none;
        margin: 0px 0px -5px 10px;
        padding: 0;
    }*/

    .div-rotate{
        width: 60px;
        text-align: center;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: rotate(-90deg);
    }
    .group-name{
        padding-left: 10px;
        border-top: dotted 1px white;
        background: #d3d3d3;
        width: 80px;
        color: black;
    }
    .group-items{
        border-top: dotted 1px black;
        padding: 5px;
        background: white;
        width: 560px;
    }
    .block-4 .group-items, .block-5 .group-items{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .block-1{
        height: 70px;
    }
    .block-6{
        height: 90px;
    }
    .inline-block{
        display: inline-block;
    }
    .radio{
        margin: 0px;
        padding: 0px;
    }
    .div-radios{
        margin: 0px;
        padding: 0px;
    }
    .red{
        /*background: red;*/
    }
    .div-checkitem > .checkitem-name{
        width: 510px;
    }
    .div-checkitem{
        /*border: solid 1px;*/
        font-family: 'Arial Narrow', Arial, sans-serif;
    }
    .div-options{
        width: 340px;
    }
    .div-images{
        width: 220px;
        text-align: center;
    }
    .strike > span:after {
        left: 100%;
        margin-left: 5px;
    }
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        border-top: dotted 2px black;
    }
    .strike > span {
        position: relative;
        display: inline-block;
    }
    .strike {
        overflow: hidden;
        white-space: nowrap; 
    }
    .div_column_one > .div-checkitem > .checkitem-name{
        width: 270px;
    }
    .div_column_two > .div-checkitem > .checkitem-name{
        width: 180px;
    }

}